{
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true, 
    "tabWidth": 2,
    "semi": false, 
    "editorconfig": false,
    "useTabs": false,
    "trailingComma": "none",
    "singleQuote": true
}